<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Todos Social</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto sidenav text-center" id="navAccordion">
            <div type="button" class="btn" data-toggle="modal" data-target="#addTodoModal">
                ID: {{user.id}} - {{user.email}}
            </div>
            <button type="button" class="btn" data-toggle="modal" data-target="#addTodoModal">
                Adicionar Todo
            </button>
            <button type="button" (click)="logout()" class="btn" data-toggle="modal" data-target="#addTodoModal">
                Logout
            </button>
        </ul>
        <div style="color: #fff"class="form-inline ml-auto mt-2 mt-md-0">
            {{user.name}}
        </div>
        <div style="color: #fff"class="form-inline ml-auto mt-2 mt-md-0">
            Nome de usuário: {{user.username}}
        </div> 
    </div>
</nav>


<div class="modal fade" id="addTodoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar Todo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="addTodoForm" (ngSubmit)="onSubmit(addTodoForm.value)">
                <div class="modal-body">
                    <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <h5 class="alert-heading">Erro ao cadastrar Todo</h5>
                        <p>{{ error?.error.message | json }}</p>
                        <hr>
                        <p class="mb-0">{{ error?.error.errors | json }}</p>
                    </div>
                    <div class="form-group">
                        <label for="title">Título</label>
                        <input #title type="text"  formControlName="title" class="form-control" id="title">
                    </div>
                    <div class="form-group">
                        <label for="description">Descrição</label>
                        <textarea #description class="form-control"  formControlName="description" id="description" rows="3"></textarea>
                    </div>
                    O todo foi concluído?
                    <br>
                    <div class="form-check form-check-inline">
                        <input #completed class="form-check-input"  formControlName="completed" type="radio"
                            id="inlineRadio1" value="1">
                        <label class="form-check-label" for="inlineRadio1">Sim</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input #completed class="form-check-input"  formControlName="completed"type="radio"
                            id="inlineRadio2" value="0">
                        <label class="form-check-label" for="inlineRadio2">Não</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>

        </div>
    </div>
</div>