<app-todos></app-todos>
<div *ngIf="todos" class="container cta-100">
    <div class="container">
        <div class="row blog">
            <div class="col-md-12">
                <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4" *ngFor="let item of todos; let i = index">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <div style="right:40px" class="item-box-blog-date bg-blue-ui white">
                                                <span class="mon">Criado em
                                                    {{ item.created_at | date: 'dd/MM/yyyy'}}</span>
                                            </div>
                                            <span class="item-box-blog-date bg-blue-ui excluir white"
                                                style="left: 244px; height: 30px;" (click)="delete(item.id)">x</span>

                                            <figure>
                                                <img alt="{{ item.title }}"
                                                    src="https://cdn.pixabay.com/photo/2017/02/08/14/25/computer-2048983_960_720.jpg">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5>{{ item.title }}</h5>
                                                </a>
                                            </div>
                                            <div class="item-box-blog-text">
                                                <p>{{ item.description }}</p>
                                            </div>
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p>Atualizado em {{ item.updated_at | date: 'dd/MM/yyyy'}}</p>
                                                <p *ngIf="item.completed"> Status: Concluído (completed = true)</p>
                                                <p *ngIf="!item.completed"> Status: Não concluído (completed = false)
                                                </p>
                                                <p>Id do usuário que cadastrou: {{ item.users_id }}</p>
                                            </div>
                                            <div class="mt">
                                                <button (click)="getComment(item.id)" [attr.data-target]="'#comments' + i" data-toggle="modal"
                                                    tabindex="0" class="btn bg-blue-ui white read">Comments</button>
                                            </div>
                                            <button class="btn bg-blue-ui white read" style="margin-left:15px"
                                                data-toggle="modal" [attr.data-target]="'#modal' + i">Atualizar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngFor="let item of todos; let i = index" class="modal fade" id="comments{{i}}" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Comentários</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="media-list">
                    <li *ngFor="let comment of comments;" class="media">
                        <div class="media-body">
                            <h4 class="media-heading">
                                usuário id: {{comment.users_id}}
                                <br>
                                <small>
                                    comentou em <a>{{item.title}}:</a>
                                </small>
                            </h4>
                            <p>
                               Comentário: {{comment.description}}
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" #description class="form-control" placeholder="escreva um comentário">
                    </div>
                    <button type="submit" (click)="postComment(description.value, i)"class="btn btn-secondary mb-2">Comentar</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div *ngFor="let item of todos; let i = index" class="modal fade" id="modal{{i}}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Atualizar Todo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="updateTodoForm" (ngSubmit)="onSubmitUpdate(updateTodoForm.value, i)">
                <div class="modal-body">
                    <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <h5 class="alert-heading">Erro ao atualizar Todo</h5>
                        <p>{{ error?.error.message | json }}</p>
                        <hr>
                        <p class="mb-0">{{ error?.error.errors | json }}</p>
                    </div>
                    <div class="form-group">
                        <label for="title">Título</label>
                        <input #title type="text" formControlName="title" value="{{item.title}}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="description">Descrição</label>
                        <textarea #description class="form-control" formControlName="description"
                            rows="3"></textarea>
                    </div>
                    O todo foi concluído?
                    <br>
                    <div class="form-check form-check-inline">
                        <input #completed class="form-check-input" formControlName="completed" type="radio"
                            value="1">
                        <label class="form-check-label" for="inlineRadio1">Sim</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input #completed class="form-check-input" formControlName="completed" type="radio"
                             value="0">
                        <label class="form-check-label" for="inlineRadio2">Não</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Alterar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div *ngIf="!todos" class="row error-404">
    <div class="col-md-12">
        <div class="error-template">
            <h1>
                Ops!</h1>
            <h2>
                404 Não encontrado</h2>
            <div class="error-details">
                Nenhum <b>Todo</b> cadastrado até o momento
            </div>

        </div>
    </div>
</div>